.button,
.button:hover {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background: none;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #333333;
    box-shadow: none!important;
}

.price {
    font-weight: 800;
    font-size: 2em;
    margin: 0;
    color: #000;
}

.up,
.up svg {
    font-weight: 800;
    font-size: 1em;
    margin: 0;
    color: green;
}