body {
    font-family: 'Montserrat', sans-serif;
}

.App-header {
    background-color: #fff;
}

h2,
h3 {
    font-size: 1em;
}

h3 {
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #171725;
}

.card {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}

.row {
    margin: 1em auto;
}

svg {
    color: grey;
}